body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: radial-gradient(#ff5d71, #EB3349);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #FFC837 ;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.locator-helper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 54vw;
  min-width: 375px;
  height: 50vw;
  min-height: 350px;
  gap: 0px;
}

.locator {
  width: 5vw;
  min-width: 35px;
  height: 5vw;
  min-height: 35px;
  border-radius: .5vw;
  transition: .2s ease-in;
  border: 1px solid black;
}

.ship {
  background-color: black;
}

.error {
  background-color: red;
}

.main {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.gameboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 53vw;
  min-width: 375px;
  height: 50vw;
  min-height: 350px;
  gap: 2px;
}

.hidden {
  display:none;
}

.square {
  width: 5vw;
  min-width: 35px;
  height: 5vw;
  min-height: 35px;
  border-radius: .5vw;
  transition: .2s ease-in;
}

.unknown-attack{
  background: radial-gradient(circle at bottom center, #FFC837 15px, #FF8008);
  box-shadow: 0 10px 10px -5px rgba(255, 171, 75, 0.425), 0px 10px 0 rgb(114, 13, 0);
}

.unknown-attack:hover {
  background: radial-gradient(circle at bottom center, #fdcc50 15px, #ff8e25);
  transform: translateY(-8px);
  box-shadow: 0 10px 10px -5px rgba(255, 171, 75, 0.425), 0px 10px 0 rgb(114, 13, 0);
}

.unknown-defense{
  background: radial-gradient(circle at bottom center, #37ffe4 15px, #085eff);
  box-shadow: 0 10px 10px -5px rgba(75, 204, 255, 0.425), 0 10px 0 rgb(0, 30, 114);
}

.unknown-defense:hover {
  background: radial-gradient(circle at bottom center, #50fde6 15px, #25a8ff);
  transform: translateY(-8px);
  box-shadow: 0 10px 10px -5px rgba(75, 243, 255, 0.425), 0 10px 0 rgb(0, 49, 114);
}

.miss {
  background: radial-gradient(circle at bottom center, #a3a3a3 15px, #363636);
  z-index: -1;
  transform: translateY(8px);
}

.hit {
  background: radial-gradient(circle at bottom center, #ff3769 15px, #ff0808);
  box-shadow: 0 10px 10px -5px rgba(255, 75, 150, 0.425), 0 10px 0 rgb(114, 0, 0);
  border-radius: 50%;
}
