@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: radial-gradient(#ff5d71, #EB3349);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #FFC837 ;
  letter-spacing: .5rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.opaque {
  color: #ffc63700 ;
}

.locator-helper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 54vw;
  min-width: 375px;
  max-width: 645px;
  height: 50vw;
  min-height: 350px;
  max-height: 596px;
  gap: 0px;
  transition: 1.10s ease-out;
}

.carrier, .battleship, .cruiser, .destroyer, .submarine {
  background-color: rgb(67, 255, 161);
  box-shadow: 0px 0px 10px rgb(218, 255, 169);
}

.locator, .carrier, .battleship, .cruiser, .destroyer, .submarine  {
  width: 5vw;
  min-width: 35px;
  max-width: 61.75px;
  height: 5vw;
  min-height: 35px;
  max-height: 61.75px;
  border-radius: .5vw;
  transition: .2s ease-in;
  border: 1px solid rgba(0, 0, 0, 0);
}

.indicator {
  animation: indicate 2s ease infinite;  
}

@keyframes indicate {
  0% {
    border: 1px solid rgba(0, 0, 0, 0);
  }
  50% {
    border: 1px solid rgb(255, 236, 153);
    box-shadow: 0px 0px 6px rgb(255, 254, 249);
  }
  100% {
    border: 1px solid rgba(0, 0, 0, 0);
  }
}

.ship {
  background-color: rgb(78, 78, 78);
  transform: translateY(-8px);
  box-shadow: 0 10px 10px -5px rgba(156, 156, 156, 0.425), 0px 10px 0 rgb(0, 0, 0);
}

.error {
  background-color: red;
}

.main {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: max-content;
  padding-bottom: 5rem;
}

.sbb {
  background-color: #FF8008;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  border:none;
  width: 10rem;
  border-radius: 5px;
  z-index: 3;
  transition: ease 0.2s;
}

.sbb:hover {
  transform: scale(1.2);
}

.gameboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 53vw;
  min-width: 375px;
  max-width: 645px;
  height: 50vw;
  min-height: 350px;
  max-height: 596px;
  gap: 2px;
}
/* .square:nth-child(9n) {
  animation: float 10s ease-in-out 0s infinite;
}
.square:nth-child(9n - 1) {
  animation: float 10s ease-in-out 0.2s infinite;
}
.square:nth-child(9n - 2) {
  animation: float 10s ease-in-out 0.4s infinite;
}
.square:nth-child(9n - 3) {
  animation: float 10s ease-in-out 0.6s infinite;
}
.square:nth-child(9n - 4) {
  animation: float 10s ease-in-out 0.8s infinite;
}
.square:nth-child(9n - 5) {
  animation: float 10s ease-in-out 1s infinite;
}
.square:nth-child(9n - 6) {
  animation: float 10s ease-in-out 1.2s infinite;
}
.square:nth-child(9n - 7) {
  animation: float 10s ease-in-out 1.4s infinite;
}
.square:nth-child(9n - 8) {
  animation: float 10s ease-in-out 1.6s infinite;
}

.square:nth-child(9n - 9) {
  animation: float 10s ease-in-out 1.8s infinite;
} */


.hidden {
  display:none;
}

.square {
  width: 5vw;
  min-width: 35px;
  max-width: 61.75px;
  height: 5vw;
  min-height: 35px;
  max-height: 61.75px;
  border-radius: 0.6vw;
  transition: .2s ease-in;
}


.unknown-attack{
  background: radial-gradient(circle at bottom center, #FFC837 15px, #FF8008);
  box-shadow: 0 10px 10px -5px rgba(255, 171, 75, 0.425), 0px 10px 0 rgb(114, 13, 0);
}

.unknown-attack:hover {
  background: radial-gradient(circle at bottom center, #fdcc50 15px, #ff8e25);
  transform: translateY(-8px);
  box-shadow: 0 10px 10px -5px rgba(255, 171, 75, 0.425), 0px 10px 0 rgb(114, 13, 0);
}

.unknown-defense{
  background: radial-gradient(circle at bottom center, #37ffb2 15px, #37ffe4);
  box-shadow: 0 10px 10px -5px rgba(75, 255, 246, 0.425), 0 10px 0 rgb(0, 114, 85);
}

.fleet{
  background: rgb(78, 78, 78) !important;
  transform: translateY(-8px);
  box-shadow: 0 10px 11px -5px rgba(156, 156, 156, 0.425), 0px 11px 0 rgb(0, 0, 0);
}
/* .unknown-defense:hover {
  background: radial-gradient(circle at bottom center, #50fde6 15px, #25a8ff);
  transform: translateY(-8px);
  box-shadow: 0 10px 10px -5px rgba(75, 243, 255, 0.425), 0 10px 0 rgb(0, 49, 114);
} */

.miss {
  background: radial-gradient(circle at bottom center, #a3a3a3 15px, #363636);
  z-index: -1;
  transform: translateY(8px);
}

.hit {
  background: radial-gradient(circle at bottom center, #ff3769 15px, #ff0808);
  box-shadow: 0 10px 10px -5px rgba(255, 75, 150, 0.425), 0 10px 0 rgb(114, 0, 0);
  border-radius: 50%;
}

.hit-confirm, .win {
  position: absolute;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-display{
  position: absolute;
  margin: 0;
  top: 0;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.win {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 5rem;
  color: white;
  text-shadow:  0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 4rem;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  user-select: none; 
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}